<html>
<body>
    <div class="login">
       <h1>Student Exam Performance Indicator</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <h1>
            <legend>Student Exam Performance Prediction</legend>
        </h1>
        <div class="mb-3">
            <label class="form-label">N</label>
            <input class="form-control" type="number" name="N"
                placeholder="Enter value for N" min='0' max='1000' />
        <div class="mb-3">
            <label class="form-label">P</label>
            <input class="form-control" type="number" name="P"
                placeholder="Enter value for P" min='0' max='1000' />
        </div>
        <div class="mb-3">
            <label class="form-label">K</label>
            <input class="form-control" type="number" name="K"
                placeholder="Enter value for K" min='0' max='1000' />
        </div>
        <div class="mb-3">
            <label class="form-label">temperature</label>
            <input class="form-control" type="number" name="temperature"
                placeholder="Enter temperature" min='0' max='100' />
        </div>
        <div class="mb-3">
            <label class="form-label">humidity</label>
            <input class="form-control" type="number" name="humidity"
                placeholder="Enter  humidity" min='0' max='5' />
        </div>
        <div class="mb-3">
            <label class="form-label">ph</label>
            <input class="form-control" type="number" name="ph"
                placeholder="Enter ph" min='1000' max='1000000' />
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict" required />
        </div>
        <div class="mb-3">
            <label class="form-label">rainfall</label>
            <input class="form-control" type="number" name="rainfall"
                placeholder="Enter rainfall" min='0' max='100' />
        </div>
    </form>
    <h2>
       THE  prediction is {{results}}
    </h2>
   <body>
</html>